In [10]:
import pandas as pd
import numpy as np
##### version compatability : ignore all the warnings in the jupyter notebook
import warnings
warnings.filterwarnings("ignore")

In [2]:
### Set 1 : functions

In [11]:
df1=pd.DataFrame([1,2,3])
df2=pd.DataFrame(np.random.randint(0,10,(3,3)))
df3=pd.DataFrame([{"a":20,"b":40,"c":50}])

In [14]:
df3

    a   b   c
0  20  40  50

In [ ]:
#### read_csv
#### csv/excel
#### Databases
#### irrespective of type of method used final outcome is always a data frame

In [6]:
df=pd.read_csv("D:/ML LABS 2.0/datasets/kaggle_survey_2021_responses.csv")

In [7]:
df ### simple variable will show top 5 and bottom 5

,zr,Q1,Q2,Q3,Q4,Q5,Q6,Q7_Part_1,Q7_Part_2,Q7_Part_3,...,Q38_B_Part_3,Q38_B_Part_4,Q38_B_Part_5,Q38_B_Part_6,Q38_B_Part_7,Q38_B_Part_8,Q38_B_Part_9,Q38_B_Part_10,Q38_B_Part_11,Q38_B_OTHER
0,Duration (in seconds),What is your age (# years)?,What is your gender? - Selected Choice,In which country do you currently reside?,What is the highest level of formal education ...,Select the title most similar to your current ...,For how many years have you been writing code ...,What programming languages do you use on a reg...,What programming languages do you use on a reg...,What programming languages do you use on a reg...,...,"In the next 2 years, do you hope to become mor...","In the next 2 years, do you hope to become mor...","In the next 2 years, do you hope to become mor...","In the next 2 years, do you hope to become mor...","In the next 2 years, do you hope to become mor...","In the next 2 years, do you hope to become mor...","In the next 2 years, do you hope to become mor...","In the next 2 years, do you hope to become mor...","In the next 2 years, do you hope to become mor...","In the next 2 years, do you hope to become mor..."
1,161,25-29,Man,Algeria,Professional doctorate,Student,I have never written code,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1024,22-24,Man,Algeria,Professional doctorate,Currently not employed,1-3 years,Python,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN
3,2176,25-29,Man,Algeria,Master’s degree,Other,1-3 years,Python,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1112,45-49,Man,Algeria,Master’s degree,Other,< 1 years,Python,NaN,SQL,...,NaN,NaN,NaN,NaN,Polyaxon,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25969,636,35-39,Woman,Viet Nam,Doctoral degree,Other,10-20 years,Python,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25970,358,22-24,Woman,Viet Nam,Bachelor’s degree,Machine Learning Engineer,< 1 years,Python,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25971,391,18-21,Woman,Viet Nam,Bachelor’s degree,Data Scientist,1-3 years,Python,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25972,527,25-29,Woman,Viet Nam,Master’s degree,Other,1-3 years,Python,NaN,SQL,...,NaN,Sacred + Omniboard,TensorBoard,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25973,217,22-24,Woman,Viet Nam,Bachelor’s degree,Student,I have never written code,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
df.shape

(25974, 369)

In [20]:
df.columns

Index(['zr', 'Q1', 'Q2', 'Q3', 'Q4', 'Q5', 'Q6', 'Q7_Part_1', 'Q7_Part_2',
       'Q7_Part_3',
       ...
       'Q38_B_Part_3', 'Q38_B_Part_4', 'Q38_B_Part_5', 'Q38_B_Part_6',
       'Q38_B_Part_7', 'Q38_B_Part_8', 'Q38_B_Part_9', 'Q38_B_Part_10',
       'Q38_B_Part_11', 'Q38_B_OTHER'],
      dtype='object', length=369)

In [19]:
list(df.columns)

['zr',
 'Q1',
 'Q2',
 'Q3',
 'Q4',
 'Q5',
 'Q6',
 'Q7_Part_1',
 'Q7_Part_2',
 'Q7_Part_3',
 'Q7_Part_4',
 'Q7_Part_5',
 'Q7_Part_6',
 'Q7_Part_7',
 'Q7_Part_8',
 'Q7_Part_9',
 'Q7_Part_10',
 'Q7_Part_11',
 'Q7_Part_12',
 'Q7_OTHER',
 'Q8',
 'Q9_Part_1',
 'Q9_Part_2',
 'Q9_Part_3',
 'Q9_Part_4',
 'Q9_Part_5',
 'Q9_Part_6',
 'Q9_Part_7',
 'Q9_Part_8',
 'Q9_Part_9',
 'Q9_Part_10',
 'Q9_Part_11',
 'Q9_Part_12',
 'Q9_OTHER',
 'Q10_Part_1',
 'Q10_Part_2',
 'Q10_Part_3',
 'Q10_Part_4',
 'Q10_Part_5',
 'Q10_Part_6',
 'Q10_Part_7',
 'Q10_Part_8',
 'Q10_Part_9',
 'Q10_Part_10',
 'Q10_Part_11',
 'Q10_Part_12',
 'Q10_Part_13',
 'Q10_Part_14',
 'Q10_Part_15',
 'Q10_Part_16',
 'Q10_OTHER',
 'Q11',
 'Q12_Part_1',
 'Q12_Part_2',
 'Q12_Part_3',
 'Q12_Part_4',
 'Q12_Part_5',
 'Q12_OTHER',
 'Q13',
 'Q14_Part_1',
 'Q14_Part_2',
 'Q14_Part_3',
 'Q14_Part_4',
 'Q14_Part_5',
 'Q14_Part_6',
 'Q14_Part_7',
 'Q14_Part_8',
 'Q14_Part_9',
 'Q14_Part_10',
 'Q14_Part_11',
 'Q14_OTHER',
 'Q15',
 'Q16_Part_1',
 'Q16_Part_2',
 'Q16_Part_3',
 'Q16_Part_4',
 'Q16_Part_5',
 'Q16_Part_6',
 'Q16_Part_7',
 'Q16_Part_8',
 'Q16_Part_9',
 'Q16_Part_10',
 'Q16_Part_11',
 'Q16_Part_12',
 'Q16_Part_13',
 'Q16_Part_14',
 'Q16_Part_15',
 'Q16_Part_16',
 'Q16_Part_17',
 'Q16_OTHER',
 'Q17_Part_1',
 'Q17_Part_2',
 'Q17_Part_3',
 'Q17_Part_4',
 'Q17_Part_5',
 'Q17_Part_6',
 'Q17_Part_7',
 'Q17_Part_8',
 'Q17_Part_9',
 'Q17_Part_10',
 'Q17_Part_11',
 'Q17_OTHER',
 'Q18_Part_1',
 'Q18_Part_2',
 'Q18_Part_3',
 'Q18_Part_4',
 'Q18_Part_5',
 'Q18_Part_6',
 'Q18_OTHER',
 'Q19_Part_1',
 'Q19_Part_2',
 'Q19_Part_3',
 'Q19_Part_4',
 'Q19_Part_5',
 'Q19_OTHER',
 'Q20',
 'Q21',
 'Q22',
 'Q23',
 'Q24_Part_1',
 'Q24_Part_2',
 'Q24_Part_3',
 'Q24_Part_4',
 'Q24_Part_5',
 'Q24_Part_6',
 'Q24_Part_7',
 'Q24_OTHER',
 'Q25',
 'Q26',
 'Q27_A_Part_1',
 'Q27_A_Part_2',
 'Q27_A_Part_3',
 'Q27_A_Part_4',
 'Q27_A_Part_5',
 'Q27_A_Part_6',
 'Q27_A_Part_7',
 'Q27_A_Part_8',
 'Q27_A_Part_9',
 'Q27_A_Part_10',
 'Q27_A_Part_11',
 'Q27_A_OTHER',
 'Q28',
 'Q29_A_Part_1',
 'Q29_A_Part_2',
 'Q29_A_Part_3',
 'Q29_A_Part_4',
 'Q29_A_OTHER',
 'Q30_A_Part_1',
 'Q30_A_Part_2',
 'Q30_A_Part_3',
 'Q30_A_Part_4',
 'Q30_A_Part_5',
 'Q30_A_Part_6',
 'Q30_A_Part_7',
 'Q30_A_OTHER',
 'Q31_A_Part_1',
 'Q31_A_Part_2',
 'Q31_A_Part_3',
 'Q31_A_Part_4',
 'Q31_A_Part_5',
 'Q31_A_Part_6',
 'Q31_A_Part_7',
 'Q31_A_Part_8',
 'Q31_A_Part_9',
 'Q31_A_OTHER',
 'Q32_A_Part_1',
 'Q32_A_Part_2',
 'Q32_A_Part_3',
 'Q32_A_Part_4',
 'Q32_A_Part_5',
 'Q32_A_Part_6',
 'Q32_A_Part_7',
 'Q32_A_Part_8',
 'Q32_A_Part_9',
 'Q32_A_Part_10',
 'Q32_A_Part_11',
 'Q32_A_Part_12',
 'Q32_A_Part_13',
 'Q32_A_Part_14',
 'Q32_A_Part_15',
 'Q32_A_Part_16',
 'Q32_A_Part_17',
 'Q32_A_Part_18',
 'Q32_A_Part_19',
 'Q32_A_Part_20',
 'Q32_A_OTHER',
 'Q33',
 'Q34_A_Part_1',
 'Q34_A_Part_2',
 'Q34_A_Part_3',
 'Q34_A_Part_4',
 'Q34_A_Part_5',
 'Q34_A_Part_6',
 'Q34_A_Part_7',
 'Q34_A_Part_8',
 'Q34_A_Part_9',
 'Q34_A_Part_10',
 'Q34_A_Part_11',
 'Q34_A_Part_12',
 'Q34_A_Part_13',
 'Q34_A_Part_14',
 'Q34_A_Part_15',
 'Q34_A_Part_16',
 'Q34_A_OTHER',
 'Q35',
 'Q36_A_Part_1',
 'Q36_A_Part_2',
 'Q36_A_Part_3',
 'Q36_A_Part_4',
 'Q36_A_Part_5',
 'Q36_A_Part_6',
 'Q36_A_Part_7',
 'Q36_A_OTHER',
 'Q37_A_Part_1',
 'Q37_A_Part_2',
 'Q37_A_Part_3',
 'Q37_A_Part_4',
 'Q37_A_Part_5',
 'Q37_A_Part_6',
 'Q37_A_Part_7',
 'Q37_A_OTHER',
 'Q38_A_Part_1',
 'Q38_A_Part_2',
 'Q38_A_Part_3',
 'Q38_A_Part_4',
 'Q38_A_Part_5',
 'Q38_A_Part_6',
 'Q38_A_Part_7',
 'Q38_A_Part_8',
 'Q38_A_Part_9',
 'Q38_A_Part_10',
 'Q38_A_Part_11',
 'Q38_A_OTHER',
 'Q39_Part_1',
 'Q39_Part_2',
 'Q39_Part_3',
 'Q39_Part_4',
 'Q39_Part_5',
 'Q39_Part_6',
 'Q39_Part_7',
 'Q39_Part_8',
 'Q39_Part_9',
 'Q39_OTHER',
 'Q40_Part_1',
 'Q40_Part_2',
 'Q40_Part_3',
 'Q40_Part_4',
 'Q40_Part_5',
 'Q40_Part_6',
 'Q40_Part_7',
 'Q40_Part_8',
 'Q40_Part_9',
 'Q40_Part_10',
 'Q40_Part_11',
 'Q40_OTHER',
 'Q41',
 'Q42_Part_1',
 'Q42_Part_2',
 'Q42_Part_3',
 'Q42_Part_4',
 'Q42_Part_5',
 'Q42_Part_6',
 'Q42_Part_7',
 'Q42_Part_8',
 'Q42_Part_9',
 'Q42_Part_10',
 'Q42_Part_11',
 'Q42_OTHER',
 'Q27_B_Part_1',
 'Q27_B_Part_2',
 'Q27_B_Part_3',
 'Q27_B_Part_4',
 'Q27_B_Part_5',
 'Q27_B_Part_6',
 'Q27_B_Part_7',
 'Q27_B_Part_8',
 'Q27_B_Part_9',
 'Q27_B_Part_10',
 'Q27_B_Part_11',
 'Q27_B_OTHER',
 'Q29_B_Part_1',
 'Q29_B_Part_2',
 'Q29_B_Part_3',
 'Q29_B_Part_4',
 'Q29_B_OTHER',
 'Q30_B_Part_1',
 'Q30_B_Part_2',
 'Q30_B_Part_3',
 'Q30_B_Part_4',
 'Q30_B_Part_5',
 'Q30_B_Part_6',
 'Q30_B_Part_7',
 'Q30_B_OTHER',
 'Q31_B_Part_1',
 'Q31_B_Part_2',
 'Q31_B_Part_3',
 'Q31_B_Part_4',
 'Q31_B_Part_5',
 'Q31_B_Part_6',
 'Q31_B_Part_7',
 'Q31_B_Part_8',
 'Q31_B_Part_9',
 'Q31_B_OTHER',
 'Q32_B_Part_1',
 'Q32_B_Part_2',
 'Q32_B_Part_3',
 'Q32_B_Part_4',
 'Q32_B_Part_5',
 'Q32_B_Part_6',
 'Q32_B_Part_7',
 'Q32_B_Part_8',
 'Q32_B_Part_9',
 'Q32_B_Part_10',
 'Q32_B_Part_11',
 'Q32_B_Part_12',
 'Q32_B_Part_13',
 'Q32_B_Part_14',
 'Q32_B_Part_15',
 'Q32_B_Part_16',
 'Q32_B_Part_17',
 'Q32_B_Part_18',
 'Q32_B_Part_19',
 'Q32_B_Part_20',
 'Q32_B_OTHER',
 'Q34_B_Part_1',
 'Q34_B_Part_2',
 'Q34_B_Part_3',
 'Q34_B_Part_4',
 'Q34_B_Part_5',
 'Q34_B_Part_6',
 'Q34_B_Part_7',
 'Q34_B_Part_8',
 'Q34_B_Part_9',
 'Q34_B_Part_10',
 'Q34_B_Part_11',
 'Q34_B_Part_12',
 'Q34_B_Part_13',
 'Q34_B_Part_14',
 'Q34_B_Part_15',
 'Q34_B_Part_16',
 'Q34_B_OTHER',
 'Q36_B_Part_1',
 'Q36_B_Part_2',
 'Q36_B_Part_3',
 'Q36_B_Part_4',
 'Q36_B_Part_5',
 'Q36_B_Part_6',
 'Q36_B_Part_7',
 'Q36_B_OTHER',
 'Q37_B_Part_1',
 'Q37_B_Part_2',
 'Q37_B_Part_3',
 'Q37_B_Part_4',
 'Q37_B_Part_5',
 'Q37_B_Part_6',
 'Q37_B_Part_7',
 'Q37_B_OTHER',
 'Q38_B_Part_1',
 'Q38_B_Part_2',
 'Q38_B_Part_3',
 'Q38_B_Part_4',
 'Q38_B_Part_5',
 'Q38_B_Part_6',
 'Q38_B_Part_7',
 'Q38_B_Part_8',
 'Q38_B_Part_9',
 'Q38_B_Part_10',
 'Q38_B_Part_11',
 'Q38_B_OTHER']

In [17]:
for i in df.columns:
    print(i)

zr
Q1
Q2
Q3
Q4
Q5
Q6
Q7_Part_1
Q7_Part_2
Q7_Part_3
Q7_Part_4
Q7_Part_5
Q7_Part_6
Q7_Part_7
Q7_Part_8
Q7_Part_9
Q7_Part_10
Q7_Part_11
Q7_Part_12
Q7_OTHER
Q8
Q9_Part_1
Q9_Part_2
Q9_Part_3
Q9_Part_4
Q9_Part_5
Q9_Part_6
Q9_Part_7
Q9_Part_8
Q9_Part_9
Q9_Part_10
Q9_Part_11
Q9_Part_12
Q9_OTHER
Q10_Part_1
Q10_Part_2
Q10_Part_3
Q10_Part_4
Q10_Part_5
Q10_Part_6
Q10_Part_7
Q10_Part_8
Q10_Part_9
Q10_Part_10
Q10_Part_11
Q10_Part_12
Q10_Part_13
Q10_Part_14
Q10_Part_15
Q10_Part_16
Q10_OTHER
Q11
Q12_Part_1
Q12_Part_2
Q12_Part_3
Q12_Part_4
Q12_Part_5
Q12_OTHER
Q13
Q14_Part_1
Q14_Part_2
Q14_Part_3
Q14_Part_4
Q14_Part_5
Q14_Part_6
Q14_Part_7
Q14_Part_8
Q14_Part_9
Q14_Part_10
Q14_Part_11
Q14_OTHER
Q15
Q16_Part_1
Q16_Part_2
Q16_Part_3
Q16_Part_4
Q16_Part_5
Q16_Part_6
Q16_Part_7
Q16_Part_8
Q16_Part_9
Q16_Part_10
Q16_Part_11
Q16_Part_12
Q16_Part_13
Q16_Part_14
Q16_Part_15
Q16_Part_16
Q16_Part_17
Q16_OTHER
Q17_Part_1
Q17_Part_2
Q17_Part_3
Q17_Part_4
Q17_Part_5
Q17_Part_6
Q17_Part_7
Q17_Part_8
Q17_Part_9
Q17_Part_10
Q17_Part_11
Q17_OTHER
Q18_Part_1
Q18_Part_2
Q18_Part_3
Q18_Part_4
Q18_Part_5
Q18_Part_6
Q18_OTHER
Q19_Part_1
Q19_Part_2
Q19_Part_3
Q19_Part_4
Q19_Part_5
Q19_OTHER
Q20
Q21
Q22
Q23
Q24_Part_1
Q24_Part_2
Q24_Part_3
Q24_Part_4
Q24_Part_5
Q24_Part_6
Q24_Part_7
Q24_OTHER
Q25
Q26
Q27_A_Part_1
Q27_A_Part_2
Q27_A_Part_3
Q27_A_Part_4
Q27_A_Part_5
Q27_A_Part_6
Q27_A_Part_7
Q27_A_Part_8
Q27_A_Part_9
Q27_A_Part_10
Q27_A_Part_11
Q27_A_OTHER
Q28
Q29_A_Part_1
Q29_A_Part_2
Q29_A_Part_3
Q29_A_Part_4
Q29_A_OTHER
Q30_A_Part_1
Q30_A_Part_2
Q30_A_Part_3
Q30_A_Part_4
Q30_A_Part_5
Q30_A_Part_6
Q30_A_Part_7
Q30_A_OTHER
Q31_A_Part_1
Q31_A_Part_2
Q31_A_Part_3
Q31_A_Part_4
Q31_A_Part_5
Q31_A_Part_6
Q31_A_Part_7
Q31_A_Part_8
Q31_A_Part_9
Q31_A_OTHER
Q32_A_Part_1
Q32_A_Part_2
Q32_A_Part_3
Q32_A_Part_4
Q32_A_Part_5
Q32_A_Part_6
Q32_A_Part_7
Q32_A_Part_8
Q32_A_Part_9
Q32_A_Part_10
Q32_A_Part_11
Q32_A_Part_12
Q32_A_Part_13
Q32_A_Part_14
Q32_A_Part_15
Q32_A_Part_16
Q32_A_Part_17
Q32_A_Part_18
Q32_A_Part_19
Q32_A_Part_20
Q32_A_OTHER
Q33
Q34_A_Part_1
Q34_A_Part_2
Q34_A_Part_3
Q34_A_Part_4
Q34_A_Part_5
Q34_A_Part_6
Q34_A_Part_7
Q34_A_Part_8
Q34_A_Part_9
Q34_A_Part_10
Q34_A_Part_11
Q34_A_Part_12
Q34_A_Part_13
Q34_A_Part_14
Q34_A_Part_15
Q34_A_Part_16
Q34_A_OTHER
Q35
Q36_A_Part_1
Q36_A_Part_2
Q36_A_Part_3
Q36_A_Part_4
Q36_A_Part_5
Q36_A_Part_6
Q36_A_Part_7
Q36_A_OTHER
Q37_A_Part_1
Q37_A_Part_2
Q37_A_Part_3
Q37_A_Part_4
Q37_A_Part_5
Q37_A_Part_6
Q37_A_Part_7
Q37_A_OTHER
Q38_A_Part_1
Q38_A_Part_2
Q38_A_Part_3
Q38_A_Part_4
Q38_A_Part_5
Q38_A_Part_6
Q38_A_Part_7
Q38_A_Part_8
Q38_A_Part_9
Q38_A_Part_10
Q38_A_Part_11
Q38_A_OTHER
Q39_Part_1
Q39_Part_2
Q39_Part_3
Q39_Part_4
Q39_Part_5
Q39_Part_6
Q39_Part_7
Q39_Part_8
Q39_Part_9
Q39_OTHER
Q40_Part_1
Q40_Part_2
Q40_Part_3
Q40_Part_4
Q40_Part_5
Q40_Part_6
Q40_Part_7
Q40_Part_8
Q40_Part_9
Q40_Part_10
Q40_Part_11
Q40_OTHER
Q41
Q42_Part_1
Q42_Part_2
Q42_Part_3
Q42_Part_4
Q42_Part_5
Q42_Part_6
Q42_Part_7
Q42_Part_8
Q42_Part_9
Q42_Part_10
Q42_Part_11
Q42_OTHER
Q27_B_Part_1
Q27_B_Part_2
Q27_B_Part_3
Q27_B_Part_4
Q27_B_Part_5
Q27_B_Part_6
Q27_B_Part_7
Q27_B_Part_8
Q27_B_Part_9
Q27_B_Part_10
Q27_B_Part_11
Q27_B_OTHER
Q29_B_Part_1
Q29_B_Part_2
Q29_B_Part_3
Q29_B_Part_4
Q29_B_OTHER
Q30_B_Part_1
Q30_B_Part_2
Q30_B_Part_3
Q30_B_Part_4
Q30_B_Part_5
Q30_B_Part_6
Q30_B_Part_7
Q30_B_OTHER
Q31_B_Part_1
Q31_B_Part_2
Q31_B_Part_3
Q31_B_Part_4
Q31_B_Part_5
Q31_B_Part_6
Q31_B_Part_7
Q31_B_Part_8
Q31_B_Part_9
Q31_B_OTHER
Q32_B_Part_1
Q32_B_Part_2
Q32_B_Part_3
Q32_B_Part_4
Q32_B_Part_5
Q32_B_Part_6
Q32_B_Part_7
Q32_B_Part_8
Q32_B_Part_9
Q32_B_Part_10
Q32_B_Part_11
Q32_B_Part_12
Q32_B_Part_13
Q32_B_Part_14
Q32_B_Part_15
Q32_B_Part_16
Q32_B_Part_17
Q32_B_Part_18
Q32_B_Part_19
Q32_B_Part_20
Q32_B_OTHER
Q34_B_Part_1
Q34_B_Part_2
Q34_B_Part_3
Q34_B_Part_4
Q34_B_Part_5
Q34_B_Part_6
Q34_B_Part_7
Q34_B_Part_8
Q34_B_Part_9
Q34_B_Part_10
Q34_B_Part_11
Q34_B_Part_12
Q34_B_Part_13
Q34_B_Part_14
Q34_B_Part_15
Q34_B_Part_16
Q34_B_OTHER
Q36_B_Part_1
Q36_B_Part_2
Q36_B_Part_3
Q36_B_Part_4
Q36_B_Part_5
Q36_B_Part_6
Q36_B_Part_7
Q36_B_OTHER
Q37_B_Part_1
Q37_B_Part_2
Q37_B_Part_3
Q37_B_Part_4
Q37_B_Part_5
Q37_B_Part_6
Q37_B_Part_7
Q37_B_OTHER
Q38_B_Part_1
Q38_B_Part_2
Q38_B_Part_3
Q38_B_Part_4
Q38_B_Part_5
Q38_B_Part_6
Q38_B_Part_7
Q38_B_Part_8
Q38_B_Part_9
Q38_B_Part_10
Q38_B_Part_11
Q38_B_OTHER

In [21]:
df.index ### default index ### 0,25974,1

RangeIndex(start=0, stop=25974, step=1)

In [24]:
### int
### float
### object

### Cat (Object with less unique values)

df.dtypes

zr               object
Q1               object
Q2               object
Q3               object
Q4               object
                  ...
Q38_B_Part_8     object
Q38_B_Part_9     object
Q38_B_Part_10    object
Q38_B_Part_11    object
Q38_B_OTHER      object
Length: 369, dtype: object

In [29]:
df.index
df.columns
df.shape
df.dtypes
df.values ### for any data frame .values it becomes numpy array

array([['Duration (in seconds)', 'What is your age (# years)?',
        'What is your gender? - Selected Choice', ...,
        'In the next 2 years, do you hope to become more familiar with any of these tools for managing ML experiments? (Select all that apply) - Selected Choice -  MLflow ',
        'In the next 2 years, do you hope to become more familiar with any of these tools for managing ML experiments? (Select all that apply) - Selected Choice - None',
        'In the next 2 years, do you hope to become more familiar with any of these tools for managing ML experiments? (Select all that apply) - Selected Choice - Other'],
       ['161', '25-29', 'Man', ..., nan, nan, nan],
       ['1024', '22-24', 'Man', ..., nan, 'None', nan],
       ...,
       [391, '18-21', 'Woman', ..., nan, nan, nan],
       [527, '25-29', 'Woman', ..., nan, nan, nan],
       [217, '22-24', 'Woman', ..., nan, nan, nan]], dtype=object)

In [30]:
#### Set 2

In [46]:
df.head(2) ### top 5 rows

,zr,Q1,Q2,Q3,Q4,Q5,Q6,Q7_Part_1,Q7_Part_2,Q7_Part_3,...,Q38_B_Part_3,Q38_B_Part_4,Q38_B_Part_5,Q38_B_Part_6,Q38_B_Part_7,Q38_B_Part_8,Q38_B_Part_9,Q38_B_Part_10,Q38_B_Part_11,Q38_B_OTHER
0,Duration (in seconds),What is your age (# years)?,What is your gender? - Selected Choice,In which country do you currently reside?,What is the highest level of formal education ...,Select the title most similar to your current ...,For how many years have you been writing code ...,What programming languages do you use on a reg...,What programming languages do you use on a reg...,What programming languages do you use on a reg...,...,"In the next 2 years, do you hope to become mor...","In the next 2 years, do you hope to become mor...","In the next 2 years, do you hope to become mor...","In the next 2 years, do you hope to become mor...","In the next 2 years, do you hope to become mor...","In the next 2 years, do you hope to become mor...","In the next 2 years, do you hope to become mor...","In the next 2 years, do you hope to become mor...","In the next 2 years, do you hope to become mor...","In the next 2 years, do you hope to become mor..."
1,161,25-29,Man,Algeria,Professional doctorate,Student,I have never written code,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [47]:
df.tail(2) ### top 5 rows

,zr,Q1,Q2,Q3,Q4,Q5,Q6,Q7_Part_1,Q7_Part_2,Q7_Part_3,...,Q38_B_Part_3,Q38_B_Part_4,Q38_B_Part_5,Q38_B_Part_6,Q38_B_Part_7,Q38_B_Part_8,Q38_B_Part_9,Q38_B_Part_10,Q38_B_Part_11,Q38_B_OTHER
25972,527,25-29,Woman,Viet Nam,Master’s degree,Other,1-3 years,Python,NaN,SQL,...,NaN,Sacred + Omniboard,TensorBoard,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25973,217,22-24,Woman,Viet Nam,Bachelor’s degree,Student,I have never written code,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [49]:
df.index

RangeIndex(start=0, stop=25974, step=1)

In [51]:
df.values.shape

(25974, 369)

In [53]:
df.values[0,0:]

array(['Duration (in seconds)', 'What is your age (# years)?',
       'What is your gender? - Selected Choice',
       'In which country do you currently reside?',
       'What is the highest level of formal education that you have attained or plan to attain within the next 2 years?',
       'Select the title most similar to your current role (or most recent title if retired): - Selected Choice',
       'For how many years have you been writing code and/or programming?',
       'What programming languages do you use on a regular basis? (Select all that apply) - Selected Choice - Python',
       'What programming languages do you use on a regular basis? (Select all that apply) - Selected Choice - R',
       'What programming languages do you use on a regular basis? (Select all that apply) - Selected Choice - SQL',
       'What programming languages do you use on a regular basis? (Select all that apply) - Selected Choice - C',
       'What programming languages do you use on a regular basis? (Select all that apply) - Selected Choice - C++',
       'What programming languages do you use on a regular basis? (Select all that apply) - Selected Choice - Java',
       'What programming languages do you use on a regular basis? (Select all that apply) - Selected Choice - Javascript',
       'What programming languages do you use on a regular basis? (Select all that apply) - Selected Choice - Julia',
       'What programming languages do you use on a regular basis? (Select all that apply) - Selected Choice - Swift',
       'What programming languages do you use on a regular basis? (Select all that apply) - Selected Choice - Bash',
       'What programming languages do you use on a regular basis? (Select all that apply) - Selected Choice - MATLAB',
       'What programming languages do you use on a regular basis? (Select all that apply) - Selected Choice - None',
       'What programming languages do you use on a regular basis? (Select all that apply) - Selected Choice - Other',
       'What programming language would you recommend an aspiring data scientist to learn first? - Selected Choice',
       "Which of the following integrated development environments (IDE's) do you use on a regular basis?  (Select all that apply) - Selected Choice - Jupyter (JupyterLab, Jupyter Notebooks, etc) ",
       "Which of the following integrated development environments (IDE's) do you use on a regular basis?  (Select all that apply) - Selected Choice -  RStudio ",
       "Which of the following integrated development environments (IDE's) do you use on a regular basis?  (Select all that apply) - Selected Choice -  Visual Studio ",
       "Which of the following integrated development environments (IDE's) do you use on a regular basis?  (Select all that apply) - Selected Choice -  Visual Studio Code (VSCode) ",
       "Which of the following integrated development environments (IDE's) do you use on a regular basis?  (Select all that apply) - Selected Choice -  PyCharm ",
       "Which of the following integrated development environments (IDE's) do you use on a regular basis?  (Select all that apply) - Selected Choice -   Spyder  ",
       "Which of the following integrated development environments (IDE's) do you use on a regular basis?  (Select all that apply) - Selected Choice -   Notepad++  ",
       "Which of the following integrated development environments (IDE's) do you use on a regular basis?  (Select all that apply) - Selected Choice -   Sublime Text  ",
       "Which of the following integrated development environments (IDE's) do you use on a regular basis?  (Select all that apply) - Selected Choice -   Vim / Emacs  ",
       "Which of the following integrated development environments (IDE's) do you use on a regular basis?  (Select all that apply) - Selected Choice -  MATLAB ",
       "Which of the following integrated development environments (IDE's) do you use on a regular basis?  (Select all that apply) - Selected Choice -  Jupyter Notebook",
       "Which of the following integrated development environments (IDE's) do you use on a regular basis?  (Select all that apply) - Selected Choice - None",
       "Which of the following integrated development environments (IDE's) do you use on a regular basis?  (Select all that apply) - Selected Choice - Other",
       'Which of the following hosted notebook products do you use on a regular basis?  (Select all that apply) - Selected Choice -  Kaggle Notebooks',
       'Which of the following hosted notebook products do you use on a regular basis?  (Select all that apply) - Selected Choice - Colab Notebooks',
       'Which of the following hosted notebook products do you use on a regular basis?  (Select all that apply) - Selected Choice - Azure Notebooks',
       'Which of the following hosted notebook products do you use on a regular basis?  (Select all that apply) - Selected Choice -  Paperspace / Gradient ',
       'Which of the following hosted notebook products do you use on a regular basis?  (Select all that apply) - Selected Choice -  Binder / JupyterHub ',
       'Which of the following hosted notebook products do you use on a regular basis?  (Select all that apply) - Selected Choice -  Code Ocean ',
       'Which of the following hosted notebook products do you use on a regular basis?  (Select all that apply) - Selected Choice -  IBM Watson Studio ',
       'Which of the following hosted notebook products do you use on a regular basis?  (Select all that apply) - Selected Choice -  Amazon Sagemaker Studio Notebooks ',
       'Which of the following hosted notebook products do you use on a regular basis?  (Select all that apply) - Selected Choice -  Amazon EMR Notebooks ',
       'Which of the following hosted notebook products do you use on a regular basis?  (Select all that apply) - Selected Choice - Google Cloud Notebooks (AI Platform / Vertex AI) ',
       'Which of the following hosted notebook products do you use on a regular basis?  (Select all that apply) - Selected Choice - Google Cloud Datalab',
       'Which of the following hosted notebook products do you use on a regular basis?  (Select all that apply) - Selected Choice -  Databricks Collaborative Notebooks ',
       'Which of the following hosted notebook products do you use on a regular basis?  (Select all that apply) - Selected Choice -  Zeppelin / Zepl Notebooks ',
       'Which of the following hosted notebook products do you use on a regular basis?  (Select all that apply) - Selected Choice -  Deepnote Notebooks ',
       'Which of the following hosted notebook products do you use on a regular basis?  (Select all that apply) - Selected Choice -  Observable Notebooks ',
       'Which of the following hosted notebook products do you use on a regular basis?  (Select all that apply) - Selected Choice - None',
       'Which of the following hosted notebook products do you use on a regular basis?  (Select all that apply) - Selected Choice - Other',
       'What type of computing platform do you use most often for your data science projects? - Selected Choice',
       'Which types of specialized hardware do you use on a regular basis?  (Select all that apply) - Selected Choice -  NVIDIA GPUs ',
       'Which types of specialized hardware do you use on a regular basis?  (Select all that apply) - Selected Choice -  Google Cloud TPUs ',
       'Which types of specialized hardware do you use on a regular basis?  (Select all that apply) - Selected Choice -  AWS Trainium Chips ',
       'Which types of specialized hardware do you use on a regular basis?  (Select all that apply) - Selected Choice -  AWS Inferentia Chips ',
       'Which types of specialized hardware do you use on a regular basis?  (Select all that apply) - Selected Choice - None',
       'Which types of specialized hardware do you use on a regular basis?  (Select all that apply) - Selected Choice - Other',
       'Approximately how many times have you used a TPU (tensor processing unit)?',
       'What data visualization libraries or tools do you use on a regular basis?  (Select all that apply) - Selected Choice -  Matplotlib ',
       'What data visualization libraries or tools do you use on a regular basis?  (Select all that apply) - Selected Choice -  Seaborn ',
       'What data visualization libraries or tools do you use on a regular basis?  (Select all that apply) - Selected Choice -  Plotly / Plotly Express ',
       'What data visualization libraries or tools do you use on a regular basis?  (Select all that apply) - Selected Choice -  Ggplot / ggplot2 ',
       'What data visualization libraries or tools do you use on a regular basis?  (Select all that apply) - Selected Choice -  Shiny ',
       'What data visualization libraries or tools do you use on a regular basis?  (Select all that apply) - Selected Choice -  D3 js ',
       'What data visualization libraries or tools do you use on a regular basis?  (Select all that apply) - Selected Choice -  Altair ',
       'What data visualization libraries or tools do you use on a regular basis?  (Select all that apply) - Selected Choice -  Bokeh ',
       'What data visualization libraries or tools do you use on a regular basis?  (Select all that apply) - Selected Choice -  Geoplotlib ',
       'What data visualization libraries or tools do you use on a regular basis?  (Select all that apply) - Selected Choice -  Leaflet / Folium ',
       'What data visualization libraries or tools do you use on a regular basis?  (Select all that apply) - Selected Choice - None',
       'What data visualization libraries or tools do you use on a regular basis?  (Select all that apply) - Selected Choice - Other',
       'For how many years have you used machine learning methods?',
       'Which of the following machine learning frameworks do you use on a regular basis? (Select all that apply) - Selected Choice -   Scikit-learn ',
       'Which of the following machine learning frameworks do you use on a regular basis? (Select all that apply) - Selected Choice -   TensorFlow ',
       'Which of the following machine learning frameworks do you use on a regular basis? (Select all that apply) - Selected Choice -  Keras ',
       'Which of the following machine learning frameworks do you use on a regular basis? (Select all that apply) - Selected Choice -  PyTorch ',
       'Which of the following machine learning frameworks do you use on a regular basis? (Select all that apply) - Selected Choice -  Fast.ai ',
       'Which of the following machine learning frameworks do you use on a regular basis? (Select all that apply) - Selected Choice -  MXNet ',
       'Which of the following machine learning frameworks do you use on a regular basis? (Select all that apply) - Selected Choice -  Xgboost ',
       'Which of the following machine learning frameworks do you use on a regular basis? (Select all that apply) - Selected Choice -  LightGBM ',
       'Which of the following machine learning frameworks do you use on a regular basis? (Select all that apply) - Selected Choice -  CatBoost ',
       'Which of the following machine learning frameworks do you use on a regular basis? (Select all that apply) - Selected Choice -  Prophet ',
       'Which of the following machine learning frameworks do you use on a regular basis? (Select all that apply) - Selected Choice -  H2O 3 ',
       'Which of the following machine learning frameworks do you use on a regular basis? (Select all that apply) - Selected Choice -  Caret ',
       'Which of the following machine learning frameworks do you use on a regular basis? (Select all that apply) - Selected Choice -  Tidymodels ',
       'Which of the following machine learning frameworks do you use on a regular basis? (Select all that apply) - Selected Choice -  JAX ',
       'Which of the following machine learning frameworks do you use on a regular basis? (Select all that apply) - Selected Choice -  PyTorch Lightning ',
       'Which of the following machine learning frameworks do you use on a regular basis? (Select all that apply) - Selected Choice -  Huggingface ',
       'Which of the following machine learning frameworks do you use on a regular basis? (Select all that apply) - Selected Choice - None',
       'Which of the following machine learning frameworks do you use on a regular basis? (Select all that apply) - Selected Choice - Other',
       'Which of the following ML algorithms do you use on a regular basis? (Select all that apply): - Selected Choice - Linear or Logistic Regression',
       'Which of the following ML algorithms do you use on a regular basis? (Select all that apply): - Selected Choice - Decision Trees or Random Forests',
       'Which of the following ML algorithms do you use on a regular basis? (Select all that apply): - Selected Choice - Gradient Boosting Machines (xgboost, lightgbm, etc)',
       'Which of the following ML algorithms do you use on a regular basis? (Select all that apply): - Selected Choice - Bayesian Approaches',
       'Which of the following ML algorithms do you use on a regular basis? (Select all that apply): - Selected Choice - Evolutionary Approaches',
       'Which of the following ML algorithms do you use on a regular basis? (Select all that apply): - Selected Choice - Dense Neural Networks (MLPs, etc)',
       'Which of the following ML algorithms do you use on a regular basis? (Select all that apply): - Selected Choice - Convolutional Neural Networks',
       'Which of the following ML algorithms do you use on a regular basis? (Select all that apply): - Selected Choice - Generative Adversarial Networks',
       'Which of the following ML algorithms do you use on a regular basis? (Select all that apply): - Selected Choice - Recurrent Neural Networks',
       'Which of the following ML algorithms do you use on a regular basis? (Select all that apply): - Selected Choice - Transformer Networks (BERT, gpt-3, etc)',
       'Which of the following ML algorithms do you use on a regular basis? (Select all that apply): - Selected Choice - None',
       'Which of the following ML algorithms do you use on a regular basis? (Select all that apply): - Selected Choice - Other',
       'Which categories of computer vision methods do you use on a regular basis?  (Select all that apply) - Selected Choice - General purpose image/video tools (PIL, cv2, skimage, etc)',
       'Which categories of computer vision methods do you use on a regular basis?  (Select all that apply) - Selected Choice - Image segmentation methods (U-Net, Mask R-CNN, etc)',
       'Which categories of computer vision methods do you use on a regular basis?  (Select all that apply) - Selected Choice - Object detection methods (YOLOv3, RetinaNet, etc)',
       'Which categories of computer vision methods do you use on a regular basis?  (Select all that apply) - Selected Choice - Image classification and other general purpose networks (VGG, Inception, ResNet, ResNeXt, NASNet, EfficientNet, etc)',
       'Which categories of computer vision methods do you use on a regular basis?  (Select all that apply) - Selected Choice - Generative Networks (GAN, VAE, etc)',
       'Which categories of computer vision methods do you use on a regular basis?  (Select all that apply) - Selected Choice - None',
       'Which categories of computer vision methods do you use on a regular basis?  (Select all that apply) - Selected Choice - Other',
       'Which of the following natural language processing (NLP) methods do you use on a regular basis?  (Select all that apply) - Selected Choice - Word embeddings/vectors (GLoVe, fastText, word2vec)',
       'Which of the following natural language processing (NLP) methods do you use on a regular basis?  (Select all that apply) - Selected Choice - Encoder-decorder models (seq2seq, vanilla transformers)',
       'Which of the following natural language processing (NLP) methods do you use on a regular basis?  (Select all that apply) - Selected Choice - Contextualized embeddings (ELMo, CoVe)',
       'Which of the following natural language processing (NLP) methods do you use on a regular basis?  (Select all that apply) - Selected Choice - Transformer language models (GPT-3, BERT, XLnet, etc)',
       'Which of the following natural language processing (NLP) methods do you use on a regular basis?  (Select all that apply) - Selected Choice - None',
       'Which of the following natural language processing (NLP) methods do you use on a regular basis?  (Select all that apply) - Selected Choice - Other',
       'In what industry is your current employer/contract (or your most recent employer if retired)? - Selected Choice',
       'What is the size of the company where you are employed?',
       'Approximately how many individuals are responsible for data science workloads at your place of business?',
       'Does your current employer incorporate machine learning methods into their business?',
       'Select any activities that make up an important part of your role at work: (Select all that apply) - Selected Choice - Analyze and understand data to influence product or business decisions',
       'Select any activities that make up an important part of your role at work: (Select all that apply) - Selected Choice - Build and/or run the data infrastructure that my business uses for storing, analyzing, and operationalizing data',
       'Select any activities that make up an important part of your role at work: (Select all that apply) - Selected Choice - Build prototypes to explore applying machine learning to new areas',
       'Select any activities that make up an important part of your role at work: (Select all that apply) - Selected Choice - Build and/or run a machine learning service that operationally improves my product or workflows',
       'Select any activities that make up an important part of your role at work: (Select all that apply) - Selected Choice - Experimentation and iteration to improve existing ML models',
       'Select any activities that make up an important part of your role at work: (Select all that apply) - Selected Choice - Do research that advances the state of the art of machine learning',
       'Select any activities that make up an important part of your role at work: (Select all that apply) - Selected Choice - None of these activities are an important part of my role at work',
       'Select any activities that make up an important part of your role at work: (Select all that apply) - Selected Choice - Other',
       'What is your current yearly compensation (approximate $USD)?',
       'Approximately how much money have you (or your team) spent on machine learning and/or cloud computing services at home (or at work) in the past 5 years (approximate $USD)?',
       'Which of the following cloud computing platforms do you use on a regular basis? (Select all that apply) - Selected Choice -  Amazon Web Services (AWS) ',
       'Which of the following cloud computing platforms do you use on a regular basis? (Select all that apply) - Selected Choice -  Microsoft Azure ',
       'Which of the following cloud computing platforms do you use on a regular basis? (Select all that apply) - Selected Choice -  Google Cloud Platform (GCP) ',
       'Which of the following cloud computing platforms do you use on a regular basis? (Select all that apply) - Selected Choice -  IBM Cloud / Red Hat ',
       'Which of the following cloud computing platforms do you use on a regular basis? (Select all that apply) - Selected Choice -  Oracle Cloud ',
       'Which of the following cloud computing platforms do you use on a regular basis? (Select all that apply) - Selected Choice -  SAP Cloud ',
       'Which of the following cloud computing platforms do you use on a regular basis? (Select all that apply) - Selected Choice -  Salesforce Cloud ',

In [ ]:
#### numpy : rows, columns

In [57]:
df.head(2)

,zr,Q1,Q2,Q3,Q4,Q5,Q6,Q7_Part_1,Q7_Part_2,Q7_Part_3,...,Q38_B_Part_3,Q38_B_Part_4,Q38_B_Part_5,Q38_B_Part_6,Q38_B_Part_7,Q38_B_Part_8,Q38_B_Part_9,Q38_B_Part_10,Q38_B_Part_11,Q38_B_OTHER
0,Duration (in seconds),What is your age (# years)?,What is your gender? - Selected Choice,In which country do you currently reside?,What is the highest level of formal education ...,Select the title most similar to your current ...,For how many years have you been writing code ...,What programming languages do you use on a reg...,What programming languages do you use on a reg...,What programming languages do you use on a reg...,...,"In the next 2 years, do you hope to become mor...","In the next 2 years, do you hope to become mor...","In the next 2 years, do you hope to become mor...","In the next 2 years, do you hope to become mor...","In the next 2 years, do you hope to become mor...","In the next 2 years, do you hope to become mor...","In the next 2 years, do you hope to become mor...","In the next 2 years, do you hope to become mor...","In the next 2 years, do you hope to become mor...","In the next 2 years, do you hope to become mor..."
1,161,25-29,Man,Algeria,Professional doctorate,Student,I have never written code,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [60]:
df[['Q1','Q4']]  ### single column subset - series multiple column subset is data frame

,Q1,Q4
0,What is your age (# years)?,What is the highest level of formal education ...
1,25-29,Professional doctorate
2,22-24,Professional doctorate
3,25-29,Master’s degree
4,45-49,Master’s degree
...,...,...
25969,35-39,Doctoral degree
25970,22-24,Bachelor’s degree
25971,18-21,Bachelor’s degree
25972,25-29,Master’s degree
25973,22-24,Bachelor’s degree

In [68]:
df[['Q1','Q4']][1:4]

      Q1                      Q4
1  25-29  Professional doctorate
2  22-24  Professional doctorate
3  25-29         Master’s degree

In [ ]:
### iloc
### loc

In [71]:
df=pd.DataFrame(np.random.randint(0,10,(5,5)))
df

   0  1  2  3  4
0  6  1  8  6  2
1  5  5  4  4  9
2  9  6  0  0  9
3  2  9  9  8  6
4  6  5  3  7  8

In [75]:
df.iloc[0:3,[2,4]]

   2  4
0  8  2
1  4  9
2  0  9

In [78]:
df.loc[0:3,2:4] ### the range operator considers last value as well

   2  3  4
0  8  6  2
1  4  4  9
2  0  0  9
3  9  8  6

In [ ]:
#### set 2 :
df.head()
df.tail()
subset data
### dataframe
### loc
### iloc

In [79]:
#### set 3

In [80]:
kaggle_survey_dataset=pd.read_csv("D:/ML LABS 2.0/datasets/kaggle_survey_2021_responses.csv")

In [82]:
kaggle_survey_dataset.shape

(25974, 369)

In [83]:
#### 369 columns

In [84]:
kaggle_survey_dataset.mean()

Series([], dtype: float64)

In [86]:
df.mean()

0    5.6
1    5.2
2    4.8
3    5.0
4    6.8
dtype: float64

In [91]:
df=pd.DataFrame(np.random.randint(0,10,(5,5)),columns="A B C D E".split())
df.mean()
df.std()
df.var()
df.median()
df.corr()

A    3.4
B    4.2
C    4.8
D    5.0
E    3.8
dtype: float64

In [105]:
kaggle_survey_dataset

,zr,Q1,Q2,Q3,Q4,Q5,Q6,Q7_Part_1,Q7_Part_2,Q7_Part_3,...,Q38_B_Part_3,Q38_B_Part_4,Q38_B_Part_5,Q38_B_Part_6,Q38_B_Part_7,Q38_B_Part_8,Q38_B_Part_9,Q38_B_Part_10,Q38_B_Part_11,Q38_B_OTHER
0,Duration (in seconds),What is your age (# years)?,What is your gender? - Selected Choice,In which country do you currently reside?,What is the highest level of formal education ...,Select the title most similar to your current ...,For how many years have you been writing code ...,What programming languages do you use on a reg...,What programming languages do you use on a reg...,What programming languages do you use on a reg...,...,"In the next 2 years, do you hope to become mor...","In the next 2 years, do you hope to become mor...","In the next 2 years, do you hope to become mor...","In the next 2 years, do you hope to become mor...","In the next 2 years, do you hope to become mor...","In the next 2 years, do you hope to become mor...","In the next 2 years, do you hope to become mor...","In the next 2 years, do you hope to become mor...","In the next 2 years, do you hope to become mor...","In the next 2 years, do you hope to become mor..."
1,161,25-29,Man,Algeria,Professional doctorate,Student,I have never written code,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1024,22-24,Man,Algeria,Professional doctorate,Currently not employed,1-3 years,Python,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN
3,2176,25-29,Man,Algeria,Master’s degree,Other,1-3 years,Python,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1112,45-49,Man,Algeria,Master’s degree,Other,< 1 years,Python,NaN,SQL,...,NaN,NaN,NaN,NaN,Polyaxon,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25969,636,35-39,Woman,Viet Nam,Doctoral degree,Other,10-20 years,Python,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25970,358,22-24,Woman,Viet Nam,Bachelor’s degree,Machine Learning Engineer,< 1 years,Python,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25971,391,18-21,Woman,Viet Nam,Bachelor’s degree,Data Scientist,1-3 years,Python,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25972,527,25-29,Woman,Viet Nam,Master’s degree,Other,1-3 years,Python,NaN,SQL,...,NaN,Sacred + Omniboard,TensorBoard,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25973,217,22-24,Woman,Viet Nam,Bachelor’s degree,Student,I have never written code,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [109]:
df.columns=['BH','NI','BI','RA','PA']

In [110]:
df

   BH  NI  BI  RA  PA
0   0   8   6   5   6
1   0   0   1   3   4
2   6   8   0   9   0
3   2   2   8   0   5
4   9   3   9   8   4

In [116]:
kaggle_survey_dataset.columns=kaggle_survey_dataset.iloc[0,:].values

In [119]:
kaggle_survey_dataset.drop(0,axis=0,inplace=True)

In [121]:
df.corr()

          BH        NI        BI        RA        PA
BH  1.000000  0.131564  0.237014  0.701824 -0.513006
NI  0.131564  1.000000 -0.165014  0.580561 -0.295718
BI  0.237014 -0.165014  1.000000 -0.249750  0.665322
RA  0.701824  0.580561 -0.249750  1.000000 -0.626601
PA -0.513006 -0.295718  0.665322 -0.626601  1.000000

In [120]:
kaggle_survey_dataset

,Duration (in seconds),What is your age (# years)?,What is your gender? - Selected Choice,In which country do you currently reside?,What is the highest level of formal education that you have attained or plan to attain within the next 2 years?,Select the title most similar to your current role (or most recent title if retired): - Selected Choice,For how many years have you been writing code and/or programming?,What programming languages do you use on a regular basis? (Select all that apply) - Selected Choice - Python,What programming languages do you use on a regular basis? (Select all that apply) - Selected Choice - R,What programming languages do you use on a regular basis? (Select all that apply) - Selected Choice - SQL,...,"In the next 2 years, do you hope to become more familiar with any of these tools for managing ML experiments? (Select all that apply) - Selected Choice - Comet.ml","In the next 2 years, do you hope to become more familiar with any of these tools for managing ML experiments? (Select all that apply) - Selected Choice - Sacred + Omniboard","In the next 2 years, do you hope to become more familiar with any of these tools for managing ML experiments? (Select all that apply) - Selected Choice - TensorBoard","In the next 2 years, do you hope to become more familiar with any of these tools for managing ML experiments? (Select all that apply) - Selected Choice - Guild.ai","In the next 2 years, do you hope to become more familiar with any of these tools for managing ML experiments? (Select all that apply) - Selected Choice - Polyaxon","In the next 2 years, do you hope to become more familiar with any of these tools for managing ML experiments? (Select all that apply) - Selected Choice - ClearML","In the next 2 years, do you hope to become more familiar with any of these tools for managing ML experiments? (Select all that apply) - Selected Choice - Domino Model Monitor","In the next 2 years, do you hope to become more familiar with any of these tools for managing ML experiments? (Select all that apply) - Selected Choice - MLflow","In the next 2 years, do you hope to become more familiar with any of these tools for managing ML experiments? (Select all that apply) - Selected Choice - None","In the next 2 years, do you hope to become more familiar with any of these tools for managing ML experiments? (Select all that apply) - Selected Choice - Other"
1,161,25-29,Man,Algeria,Professional doctorate,Student,I have never written code,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1024,22-24,Man,Algeria,Professional doctorate,Currently not employed,1-3 years,Python,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN
3,2176,25-29,Man,Algeria,Master’s degree,Other,1-3 years,Python,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1112,45-49,Man,Algeria,Master’s degree,Other,< 1 years,Python,NaN,SQL,...,NaN,NaN,NaN,NaN,Polyaxon,NaN,NaN,NaN,NaN,NaN
5,228,22-24,Man,Algeria,Master’s degree,Data Scientist,1-3 years,Python,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25969,636,35-39,Woman,Viet Nam,Doctoral degree,Other,10-20 years,Python,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25970,358,22-24,Woman,Viet Nam,Bachelor’s degree,Machine Learning Engineer,< 1 years,Python,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25971,391,18-21,Woman,Viet Nam,Bachelor’s degree,Data Scientist,1-3 years,Python,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25972,527,25-29,Woman,Viet Nam,Master’s degree,Other,1-3 years,Python,NaN,SQL,...,NaN,Sacred + Omniboard,TensorBoard,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25973,217,22-24,Woman,Viet Nam,Bachelor’s degree,Student,I have never written code,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

'Duration (in seconds)'

In [141]:
survey_time=kaggle_survey_dataset[kaggle_survey_dataset.columns[0]].values

In [144]:
survey_time

array(['161', '1024', '2176', ..., 391, 527, 217], dtype=object)

In [145]:
survey_time=survey_time.astype(int)

In [147]:
kaggle_survey_dataset.shape

(25973, 369)

In [148]:
len(survey_time)

25973

In [149]:
survey_time

array([ 161, 1024, 2176, ...,  391,  527,  217])

In [ ]:
survey_time ### minutes

In [151]:
survey_time_min=survey_time/60

In [152]:
survey_time_min

array([ 2.68333333, 17.06666667, 36.26666667, ...,  6.51666667,
        8.78333333,  3.61666667])

In [156]:
survey_time_min.max()

41477.55

In [157]:
survey_time_min.min()

2.0

In [158]:
survey_time_min

array([ 2.68333333, 17.06666667, 36.26666667, ...,  6.51666667,
        8.78333333,  3.61666667])

In [160]:
kaggle_survey_dataset[kaggle_survey_dataset.columns[0]]=kaggle_survey_dataset[kaggle_survey_dataset.columns[0]].astype(int)

In [163]:
kaggle_survey_dataset[kaggle_survey_dataset.columns[0]].min()

120

In [164]:
kaggle_survey_dataset[kaggle_survey_dataset.columns[0]].max()

2488653

In [166]:
kaggle_survey_dataset['Duration (in minutes)']=kaggle_survey_dataset[kaggle_survey_dataset.columns[0]]/60

In [172]:
kaggle_survey_dataset[kaggle_survey_dataset.columns[-1]].min()

2.0

In [173]:
kaggle_survey_dataset[kaggle_survey_dataset.columns[-1]].max()

41477.55

In [175]:
kaggle_survey_dataset[kaggle_survey_dataset.columns[-1]]=kaggle_survey_dataset[kaggle_survey_dataset.columns[-1]].astype(int)

In [179]:
kaggle_survey_dataset[kaggle_survey_dataset.columns[-1]].value_counts().head(10)

8     1959
9     1854
7     1843
10    1704
6     1679
11    1497
5     1371
12    1281
4     1168
13    1086
Name: Duration (in minutes), dtype: int64

In [ ]:
#### 70 percent of total people who filled the survey are spending time between 4 min to 13 min
#### few people with abnormal time taken for filling the survey will be eliminated from the analysis

In [178]:
kaggle_survey_dataset[kaggle_survey_dataset.columns[-1]]

1         2
2        17
3        36
4        18
5         3
         ..
25969    10
25970     5
25971     6
25972     8
25973     3
Name: Duration (in minutes), Length: 25973, dtype: int32