In [ ]:
#### Memory Management (Completed)
#### Null Values (completed)
#### Outliers
#### Dummy Variables
#### Label Encoders
#### MinMax Scaling (completed)
#### Standard Scaling
#### Univariate Analysis
#### Bivariate Analysis

In [1]:
import pandas as pd
import numpy as np
##### version compatability : ignore all the warnings in the jupyter notebook
import warnings
warnings.filterwarnings("ignore")

In [15]:
kaggle_survey_dataset=pd.read_csv("D:/ML LABS 2.0/datasets/kaggle_survey_2021_responses.csv")

In [16]:
kaggle_survey_dataset

,zr,Q1,Q2,Q3,Q4,Q5,Q6,Q7_Part_1,Q7_Part_2,Q7_Part_3,...,Q38_B_Part_3,Q38_B_Part_4,Q38_B_Part_5,Q38_B_Part_6,Q38_B_Part_7,Q38_B_Part_8,Q38_B_Part_9,Q38_B_Part_10,Q38_B_Part_11,Q38_B_OTHER
0,Duration (in seconds),What is your age (# years)?,What is your gender? - Selected Choice,In which country do you currently reside?,What is the highest level of formal education ...,Select the title most similar to your current ...,For how many years have you been writing code ...,What programming languages do you use on a reg...,What programming languages do you use on a reg...,What programming languages do you use on a reg...,...,"In the next 2 years, do you hope to become mor...","In the next 2 years, do you hope to become mor...","In the next 2 years, do you hope to become mor...","In the next 2 years, do you hope to become mor...","In the next 2 years, do you hope to become mor...","In the next 2 years, do you hope to become mor...","In the next 2 years, do you hope to become mor...","In the next 2 years, do you hope to become mor...","In the next 2 years, do you hope to become mor...","In the next 2 years, do you hope to become mor..."
1,161,25-29,Man,Algeria,Professional doctorate,Student,I have never written code,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1024,22-24,Man,Algeria,Professional doctorate,Currently not employed,1-3 years,Python,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN
3,2176,25-29,Man,Algeria,Master’s degree,Other,1-3 years,Python,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1112,45-49,Man,Algeria,Master’s degree,Other,< 1 years,Python,NaN,SQL,...,NaN,NaN,NaN,NaN,Polyaxon,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25969,636,35-39,Woman,Viet Nam,Doctoral degree,Other,10-20 years,Python,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25970,358,22-24,Woman,Viet Nam,Bachelor’s degree,Machine Learning Engineer,< 1 years,Python,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25971,391,18-21,Woman,Viet Nam,Bachelor’s degree,Data Scientist,1-3 years,Python,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25972,527,25-29,Woman,Viet Nam,Master’s degree,Other,1-3 years,Python,NaN,SQL,...,NaN,Sacred + Omniboard,TensorBoard,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25973,217,22-24,Woman,Viet Nam,Bachelor’s degree,Student,I have never written code,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
kaggle_survey_dataset.columns=kaggle_survey_dataset.iloc[0,:].values

In [18]:
kaggle_survey_dataset.drop(0,axis=0,inplace=True)

In [19]:
kaggle_survey_dataset.head()

,Duration (in seconds),What is your age (# years)?,What is your gender? - Selected Choice,In which country do you currently reside?,What is the highest level of formal education that you have attained or plan to attain within the next 2 years?,Select the title most similar to your current role (or most recent title if retired): - Selected Choice,For how many years have you been writing code and/or programming?,What programming languages do you use on a regular basis? (Select all that apply) - Selected Choice - Python,What programming languages do you use on a regular basis? (Select all that apply) - Selected Choice - R,What programming languages do you use on a regular basis? (Select all that apply) - Selected Choice - SQL,...,"In the next 2 years, do you hope to become more familiar with any of these tools for managing ML experiments? (Select all that apply) - Selected Choice - Comet.ml","In the next 2 years, do you hope to become more familiar with any of these tools for managing ML experiments? (Select all that apply) - Selected Choice - Sacred + Omniboard","In the next 2 years, do you hope to become more familiar with any of these tools for managing ML experiments? (Select all that apply) - Selected Choice - TensorBoard","In the next 2 years, do you hope to become more familiar with any of these tools for managing ML experiments? (Select all that apply) - Selected Choice - Guild.ai","In the next 2 years, do you hope to become more familiar with any of these tools for managing ML experiments? (Select all that apply) - Selected Choice - Polyaxon","In the next 2 years, do you hope to become more familiar with any of these tools for managing ML experiments? (Select all that apply) - Selected Choice - ClearML","In the next 2 years, do you hope to become more familiar with any of these tools for managing ML experiments? (Select all that apply) - Selected Choice - Domino Model Monitor","In the next 2 years, do you hope to become more familiar with any of these tools for managing ML experiments? (Select all that apply) - Selected Choice - MLflow","In the next 2 years, do you hope to become more familiar with any of these tools for managing ML experiments? (Select all that apply) - Selected Choice - None","In the next 2 years, do you hope to become more familiar with any of these tools for managing ML experiments? (Select all that apply) - Selected Choice - Other"
1,161,25-29,Man,Algeria,Professional doctorate,Student,I have never written code,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1024,22-24,Man,Algeria,Professional doctorate,Currently not employed,1-3 years,Python,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN
3,2176,25-29,Man,Algeria,Master’s degree,Other,1-3 years,Python,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1112,45-49,Man,Algeria,Master’s degree,Other,< 1 years,Python,NaN,SQL,...,NaN,NaN,NaN,NaN,Polyaxon,NaN,NaN,NaN,NaN,NaN
5,228,22-24,Man,Algeria,Master’s degree,Data Scientist,1-3 years,Python,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
kaggle_survey_dataset[kaggle_survey_dataset.columns[0]]=kaggle_survey_dataset[kaggle_survey_dataset.columns[0]].astype(int)

In [21]:
kaggle_survey_dataset[kaggle_survey_dataset.columns[0]].min()

120

In [22]:
kaggle_survey_dataset[kaggle_survey_dataset.columns[0]].max()

2488653

In [23]:
kaggle_survey_dataset['Duration (in minutes)']=kaggle_survey_dataset[kaggle_survey_dataset.columns[0]]/60

In [24]:
kaggle_survey_dataset[kaggle_survey_dataset.columns[-1]].min()

2.0

In [25]:
kaggle_survey_dataset[kaggle_survey_dataset.columns[-1]].max()

41477.55

In [26]:
kaggle_survey_dataset[kaggle_survey_dataset.columns[-1]]=kaggle_survey_dataset[kaggle_survey_dataset.columns[-1]].astype(int)

In [28]:
kaggle_survey_dataset.head()

,Duration (in seconds),What is your age (# years)?,What is your gender? - Selected Choice,In which country do you currently reside?,What is the highest level of formal education that you have attained or plan to attain within the next 2 years?,Select the title most similar to your current role (or most recent title if retired): - Selected Choice,For how many years have you been writing code and/or programming?,What programming languages do you use on a regular basis? (Select all that apply) - Selected Choice - Python,What programming languages do you use on a regular basis? (Select all that apply) - Selected Choice - R,What programming languages do you use on a regular basis? (Select all that apply) - Selected Choice - SQL,...,"In the next 2 years, do you hope to become more familiar with any of these tools for managing ML experiments? (Select all that apply) - Selected Choice - Sacred + Omniboard","In the next 2 years, do you hope to become more familiar with any of these tools for managing ML experiments? (Select all that apply) - Selected Choice - TensorBoard","In the next 2 years, do you hope to become more familiar with any of these tools for managing ML experiments? (Select all that apply) - Selected Choice - Guild.ai","In the next 2 years, do you hope to become more familiar with any of these tools for managing ML experiments? (Select all that apply) - Selected Choice - Polyaxon","In the next 2 years, do you hope to become more familiar with any of these tools for managing ML experiments? (Select all that apply) - Selected Choice - ClearML","In the next 2 years, do you hope to become more familiar with any of these tools for managing ML experiments? (Select all that apply) - Selected Choice - Domino Model Monitor","In the next 2 years, do you hope to become more familiar with any of these tools for managing ML experiments? (Select all that apply) - Selected Choice - MLflow","In the next 2 years, do you hope to become more familiar with any of these tools for managing ML experiments? (Select all that apply) - Selected Choice - None","In the next 2 years, do you hope to become more familiar with any of these tools for managing ML experiments? (Select all that apply) - Selected Choice - Other",Duration (in minutes)
1,161,25-29,Man,Algeria,Professional doctorate,Student,I have never written code,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
2,1024,22-24,Man,Algeria,Professional doctorate,Currently not employed,1-3 years,Python,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,17
3,2176,25-29,Man,Algeria,Master’s degree,Other,1-3 years,Python,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,36
4,1112,45-49,Man,Algeria,Master’s degree,Other,< 1 years,Python,NaN,SQL,...,NaN,NaN,NaN,Polyaxon,NaN,NaN,NaN,NaN,NaN,18
5,228,22-24,Man,Algeria,Master’s degree,Data Scientist,1-3 years,Python,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3

In [29]:
#### Memory Management

In [32]:
kaggle_survey_dataset[kaggle_survey_dataset.columns[0]].dtypes

dtype('int32')

In [37]:
kaggle_survey_dataset[kaggle_survey_dataset.columns[0]].min()

120

In [39]:
kaggle_survey_dataset[kaggle_survey_dataset.columns[0]].max()

2488653

In [33]:
np.iinfo(np.int8)

iinfo(min=-128, max=127, dtype=int8)

In [34]:
np.iinfo(np.int16)

iinfo(min=-32768, max=32767, dtype=int16)

In [35]:
np.iinfo(np.int32)

iinfo(min=-2147483648, max=2147483647, dtype=int32)

In [36]:
np.iinfo(np.int64)

iinfo(min=-9223372036854775808, max=9223372036854775807, dtype=int64)

In [40]:
kaggle_survey_dataset[kaggle_survey_dataset.columns[-1]].dtypes

dtype('int32')

In [41]:
kaggle_survey_dataset[kaggle_survey_dataset.columns[-1]].min()

2

In [42]:
kaggle_survey_dataset[kaggle_survey_dataset.columns[-1]].max()

41477

In [43]:
import seaborn as sns
titanic_data=sns.load_dataset("titanic")

Matplotlib is building the font cache; this may take a moment.

In [46]:
titanic_data['fare'].dtype

dtype('float64')

In [48]:
titanic_data['fare'].min(),titanic_data['fare'].max()

(0.0, 512.3292)

In [51]:
np.finfo(np.float16)

finfo(resolution=0.001, min=-6.55040e+04, max=6.55040e+04, dtype=float16)

In [58]:
int(np.finfo(np.float64).min)

-179769313486231570814527423731704356798070567525844996598917476803157260780028538760589558632766878171540458953514382464234321326889464182768467546703537516986049910576551282076245490090389328944075868508455133942304583236903222948165808559332123348274797826204144723168738177180919299881250404026184124858368

In [53]:
np.finfo(np.float64)

finfo(resolution=1e-15, min=-1.7976931348623157e+308, max=1.7976931348623157e+308, dtype=float64)

In [ ]:
### Memory optimization
    ## Check the memory allocated for each columns
    ## Check min and max value
    ## if min and max lies in int8 change to int 8
    ## if min and max lies in int16 change to int 16
    ## if min and max lies in int32 change to int 32
    ## if min and max lies in int64 change to int 64
    ## if min and max lies in float16 change to float16
    ## if min and max lies in float32 change to float32
    ## if min and max lies in float64 change to float64

In [66]:
before_optimization=titanic_data.memory_usage().sum()/1024

In [67]:
 before_optimization  ### 80 KB

80.65234375

In [68]:
titanic_data
#### int and float

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

In [80]:
np.iinfo(np.int8),np.iinfo(np.int8)

(iinfo(min=-128, max=127, dtype=int8), iinfo(min=-128, max=127, dtype=int8))

In [ ]:
pre=titanic_data.memory_usage().sum()/1024

In [81]:
import seaborn as sns
titanic_data=sns.load_dataset("titanic")

for i in titanic_data.columns:
    if "int" in str(titanic_data[i].dtypes):
        if titanic_data[i].min()>np.iinfo(np.int8).min and titanic_data[i].max()<np.iinfo(np.int8).max:
            titanic_data[i]=titanic_data[i].astype(np.int8)
        elif titanic_data[i].min()>np.iinfo(np.int16).min and titanic_data[i].max()<np.iinfo(np.int16).max:
            titanic_data[i]=titanic_data[i].astype(np.int16)
        elif titanic_data[i].min()>np.iinfo(np.int32).min and titanic_data[i].max()<np.iinfo(np.int32).max:
            titanic_data[i]=titanic_data[i].astype(np.int32)
        else:
            titanic_data[i]=titanic_data[i].astype(np.int32)

In [86]:
post=titanic_data.memory_usage().sum()/1024

56.2890625

In [90]:
((pre-post)/post)*100

In [91]:
#### Null value treatment

In [93]:
titanic_data.columns

Index(['survived', 'pclass', 'sex', 'age', 'sibsp', 'parch', 'fare',
       'embarked', 'class', 'who', 'adult_male', 'deck', 'embark_town',
       'alive', 'alone'],
      dtype='object')

In [95]:
titanic_data.shape

(891, 15)

In [ ]:
#### To query or subset data we use square brackets and conditions
#### & and operations
#### | or operations

In [112]:
titanic_data[(titanic_data['sex']=='male') | (titanic_data['fare']>50) ].shape

(664, 15)

In [99]:
x=np.array([1,2,3,4,5])

In [101]:
x[x>2]

array([3, 4, 5])

In [114]:
#### null values

In [119]:
null_value_percentage=(titanic_data.isna().sum()/titanic_data.shape[0])*100 ### check True or False

In [122]:
null_value_percentage[null_value_percentage>10]

age     19.865320
deck    77.216611
dtype: float64

In [ ]:
### treating null values

In [126]:
titanic_data['sex'].fillna(titanic_data['sex'].value_counts().index[0],inplace=True) ### Commit operation

In [127]:
titanic_data['age'].isna().sum()

0

In [128]:
####

In [137]:
titanic_data['sex'].value_counts().index[0]

'male'

In [139]:
titanic_data=titanic_data.iloc[0:5,:]

In [140]:
titanic_data

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [144]:
### common scale
### Minmax scaling

In [143]:
0 :1

SyntaxError: illegal target for annotation (<ipython-input-143-2a27e83e9edd>, line 1)

In [148]:
(titanic_data['age']-titanic_data['age'].min())/(titanic_data['age'].max()-titanic_data['age'].min())

0    0.0000
1    1.0000
2    0.2500
3    0.8125
4    0.8125
Name: age, dtype: float64

In [149]:
(titanic_data['fare']-titanic_data['fare'].min())/(titanic_data['fare'].max()-titanic_data['fare'].min())

0    0.000000
1    1.000000
2    0.010541
3    0.716034
4    0.012493
Name: fare, dtype: float64

In [151]:
titanic_data['age']

0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
Name: age, dtype: float64